@import "~bootstrap/scss/bootstrap";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    @extend .container-fluid;
    @extend .h-100;
    margin: 0;
    padding: 0;
}

.mainBody {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    bottom: 0;
    top: 50px;
    position: absolute;
}

.Logo {
    height: 4vmax;
}

.navbar {
    padding-left: 20px;
    margin: 0;
    height: 50px;
    
    :not(.navbar-brand) > .nav-link {
        border-radius: 0.25rem;
        padding: 2px 20px 2px 20px;
    }
    :not(.navbar-brand) > .nav-link.active {
        border-radius: 0.25rem;
        background-color: lighten($color: $navbar-light-color, $amount: 30);
        padding: 2px 20px 2px 20px;
    }
}

// GENERAL STUFF
.errorNote {
    border-radius: .35rem;
    background-color:rgb(152, 38, 7);
    padding: 5px 10px;
    color: antiquewhite;

}

// SIDEBAR

.sidePickerNav {
    background-color: darken($color: $body-bg, $amount: 80);
}

.sidePickerNav .header {
    color: #fff;
    padding: 10px 10px 6px 10px;
    border-bottom: rgb(233, 181, 97) 4px solid;
    font-weight: bold;
}

.sidePickerNav .itemList {
    padding-bottom: 10px;
    padding-top: 10px;

    .item {
        color: rgb(233, 181, 97);
        text-decoration: none;
        background-color: none;
    }

    ul {
        padding: 0;
    
        li {
            display: block;
            border-radius: .25em;
            padding: 4px 10px;
            margin: 2px;
        }
    }
    
}

.sidePickerNav .itemList li:hover {
   background-color: darken($color: $body-bg, $amount: 60);
   cursor: pointer;
}

.mainContent {
    background-color: darken($color: $body-bg, $amount: 25);
    padding-top: .8em;
}

// ENTRY PAGE //

.showEntryCard {
    width: fit-content;
    min-width: 20rem;
    border: none;
    box-shadow: .3rem .3rem .3rem #0005;

    .card-body {
        padding: 0;
        border-radius: 0.375rem;

        .card-title {
            margin: 0;
            padding: 10px 100px 5px 20px;
            // border-bottom: darken($color: $body-bg, $amount: 80) 2px solid;
            background-color: rgb(233, 181, 97);
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;;
        }

        .card-subtitle {
            margin: 0;
            padding: 5px 20px 5px 20px;
            border-bottom: darken($color: $body-bg, $amount: 60) 1px solid;
            background-color: darken($color: rgb(233, 181, 97), $amount: 20)
        }

        button {
            margin: 20px;
            float: right;
        }
    }
}

.showEntryTable {
    background-color: darken($color: $body-bg, $amount: 15);
    margin: 0;

    th::not(:first-of-type), td {
        padding: 5px 20px 5px 20px;
    }

    .subheading {
        font-size: smaller;
        color: gray;
    }

}


