@import "~bootstrap/scss/bootstrap";

$highlight-color: rgb(174, 185, 213);
$subtle-highlight: darken($highlight-color, $amount: 10);
$brite-light: lighten($highlight-color, $amount: 10);

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    @extend .container-fluid;
    @extend .h-100;
    margin: 0;
    padding: 0;
}

.mainBody {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    bottom: 0;
    top: 50px;
    position: absolute;
}

.Logo {
    height: 4vmax;
}

.navbar {
    padding-left: 20px;
    margin: 0;
    height: 50px;

    :not(.navbar-brand) > .nav-link {
        border-radius: 0.25rem;
        padding: 2px 20px 2px 20px;
    }

    :not(.navbar-brand) > .nav-link.active {
        border-radius: 0.25rem;
        background-color: lighten($color: $navbar-light-color, $amount: 30);
        padding: 2px 20px 2px 20px;
    }
}

// GENERAL STUFF
.errorNote {
    border-radius: 0.35rem;
    background-color: rgb(152, 38, 7);
    padding: 5px 10px;
    color: antiquewhite;
}

// SIDEBAR

.sidePickerNav {
    background-color: darken($color: $body-bg, $amount: 80);
}

.sidePickerNav .header {
    color: $brite-light;
    padding: 10px 10px 6px 10px;
    border-bottom: $highlight-color 4px solid;
    font-weight: bold;
}

.sidePickerNav .itemList {
    padding-bottom: 10px;
    padding-top: 10px;

    .item {
        color: $brite-light;
        text-decoration: none;
        background-color: none;
    }

    ul {
        padding: 0;

        li {
            display: block;
            border-radius: 0.25em;
            padding: 4px 10px;
            margin: 2px;
        }
    }
}

.sidePickerNav .itemList li:hover {
    background-color: darken($color: $body-bg, $amount: 60);
    cursor: pointer;
}

.mainContent {
    background-color: darken($color: $body-bg, $amount: 25);
    padding-top: 0.8em;
}

.default-icon-btn {
    vertical-align: middle;
    margin: 0px 10px 0px 4px;
    padding: 4px;
    cursor: pointer;
}

.delete-icon-btn {
    @extend .default-icon-btn;
    color: $brite-light;
}

.delete-icon-btn:hover {
    color: #dd1111;
}

.plusButton {
    @extend .default-icon-btn;
    color: $highlight-color;

    :hover {
        color: $brite-light;
    }
}

.formError {
    color: #901c1c;
    padding: 5px;
    font-size: small;
}

.showEntryCard {
    width: fit-content;
    min-width: 20rem;
    border: none;
    box-shadow: 0.3rem 0.3rem 0.3rem #0005;
    margin-bottom: 10px;

    .col {
        width: fit-content;
    }

    .card-body {
        padding: 0;
        border-radius: 0.375rem;

        .card-title {
            margin: 0;
            padding: 10px 100px 5px 20px;
            background-color: $highlight-color;
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }

        .card-subtitle {
            margin: 0;
            padding: 5px 20px 5px 20px;
            border-bottom: darken($color: $body-bg, $amount: 60) 1px solid;
            background-color: $subtle-highlight;
        }

        .remove-switch:checked {
            background-color: #ff3333;
            border-color: #dd1111;
        }

        .remove-switch:checked + .remove-switch-label {
            text-decoration: line-through;
        }

        .section-header {
            display: block;
            padding: 5px 10px 5px 10px;
            margin: 0px 10px;
            white-space: nowrap;
            font-weight: bold;
            border-bottom: darken($color: $body-bg, $amount: 60) 1px solid;
        }

        .section-item {
            display: block;
            padding: 5px 10px 5px 10px;
            margin: 0px 0px 0px 10px;
            white-space: nowrap;

            select {
                padding: 0px 20px;
                margin-bottom: 10px;
            }

            th {
                padding: 5px;
                white-space: nowrap;
            }

            td {
                padding: 5px;
                white-space: nowrap;
            }
        }

        .skinny-footnote {
            font-size: small;
            color: adjust-color($color: $body-color, $alpha: -0.5);
        }

        .footnote {
            @extend .skinny-footnote;
            padding: 20px 30px;
        }
    }
}

.expando {
    &.default {
        .expando-header {
            display: block;
            padding: 5px 0px 5px 10px;
            margin: 0px 10px;
            white-space: nowrap;
            cursor: pointer;

            svg {
                @extend .default-icon-btn;
                float: right;
                margin: 0px 0px 0px 10px;
            }
        }

        .expando-body {
            border-top: darken($color: $body-bg, $amount: 60) 1px dashed;
            display: block;
            margin: 0px 10px;
            white-space: nowrap;
        }

        .expando-item {
            &.clickable {
                cursor: pointer;
            }

            &.right-button {
                display: block;
                padding: 5px 0px 5px 10px;
                margin: 0px 0px 0px 10px;
                white-space: nowrap;

                select {
                    padding: 0px 20px;
                    margin-bottom: 10px;
                }
            }

            &.left-button {
                display: block;
                padding: 5px 0px 5px 10px;
                margin: 0px 0px 0px 0px;
                white-space: nowrap;

                select {
                    padding: 0px 20px;
                    margin-bottom: 10px;
                }
            }

            .red-right-btn {
                @extend .default-icon-btn;
                float: right;
                color: $brite-light;
                margin: 0px 0px 0px 10px;
            }

            &:hover .red-right-btn {
                color: #dd1111;
            }

            .green-left-btn {
                @extend .default-icon-btn;
                float: left;
                position: relative;
                color: $brite-light;
                margin: 0px 10px 0px 0px;
            }

            &:hover .green-left-btn {
                color: #11dd11;
            }
        }
    }

    &.sidenav {
        .expando-header {
            display: block;
            white-space: nowrap;
            cursor: pointer;

            color: $brite-light;
            padding: 10px 10px 6px 10px;
            border-bottom: $highlight-color 2px solid;

            svg {
                @extend .default-icon-btn;
                float: right;
                margin: 0px 0px 0px 10px;
            }
        }

        .expando-body {
            display: block;
            white-space: nowrap;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .expando-item {
            color: $brite-light;
            text-decoration: none;
            background-color: none;
            border-radius: 0.25em;
            padding: 4px 10px;
            margin: 2px;

            &.clickable {
                cursor: pointer;
            }

            &.clickable:hover {
                background-color: darken($color: $body-bg, $amount: 60);
            }

            &.right-button {
                display: block;
                padding: 5px 0px 5px 10px;
                margin: 0px 0px 0px 10px;
                white-space: nowrap;

                select {
                    padding: 0px 20px;
                    margin-bottom: 10px;
                }
            }

            &.left-button {
                display: block;
                padding: 5px 0px 5px 10px;
                margin: 0px 0px 0px 0px;
                white-space: nowrap;

                select {
                    padding: 0px 20px;
                    margin-bottom: 10px;
                }
            }

            .red-right-btn {
                @extend .default-icon-btn;
                float: right;
                color: $brite-light;
                margin: 0px 0px 0px 10px;
            }

            &:hover .red-right-btn {
                color: #dd1111;
            }

            .green-left-btn {
                @extend .default-icon-btn;
                float: left;
                position: relative;
                color: $brite-light;
                margin: 0px 10px 0px 0px;
            }

            &:hover .green-left-btn {
                color: #11dd11;
            }
        }
    }
}

.showEntryTable {
    margin: 0;
    border-radius: 0px !important;

    th {
        padding: 5px 20px;
        white-space: nowrap;
    }

    td {
        padding: 5px 20px;
        white-space: nowrap;
    }

    .subheading {
        font-size: smaller;
    }
}

.left-column-item {
    display: block;
}

.clickable-item {
    display: inline-flex;
    float: left;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: $brite-light;
    border: 1px #0000 solid;
    cursor: pointer;

    .content {
        margin: 4px 8px;
    }

    .icon {
        color: $highlight-color;
        &.left {
            float: left;
            margin: 4px 8px;
        }

        &.right {
            float: right;
            margin: 4px 8px;
        }
    }

    &:hover {
        border: 1px $highlight-color solid;

        .icon {
            color: $subtle-highlight;
        }
    }
}

.inline-input {
    width: auto;
    overflow: hidden;
}
